[tool.black]
line-length = 120
target-version = ["py311"]
skip-string-normalization = true

[tool.isort]
profile = "black"
line_length = 120
combine_as_imports = true

[tool.flake8]
max-line-length = 120
extend-ignore = ["E203", "W503"]
exclude = [
    ".git",
    "__pycache__",
    ".venv",
    "venv",
]
